.course-table-container {
  padding: 0% 5%;
  .course-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 0.9vmax;
    thead {
      background-color: #ccccff;
    }
    td,
    th {
      padding: 0.5%;
      text-align: center;
      border: 1px solid rgb(141, 136, 136);
      border-collapse: collapse;
    }
    tbody {
      td {
        background-color: #99ccff;
      }
    }
  }
}
