form table {
  width: 100%;
  border-spacing: 2px;

  td {
    padding: 1% 0% 1% 0%;
  }
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0% 2.5% 0% 2.5%;
  .lab-project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12%;
    align-items: center;
    .credit-type {
      font-size: 1.3vmax;
    }
  }
  .credit-counter-container {
    color: #f11a62;
    background-color: #e91e624e;
    padding: 5% 10%;
    border-radius: 6px;
    border: 1px solid #e91e63;
    font-size: 1.5vmax;
  }
  .lab-counter-container {
    color: #272ab0;
    background-color: #2729b064;
    padding: 5% 10%;
    border-radius: 6px;
    border: 1px solid #272ab0;
    font-size: 1.5vmax;
  }
  .project-counter-container {
    color: #9c27b0;
    background-color: #9b27b045;
    padding: 5% 10%;
    border-radius: 6px;
    border: 1px solid #9c27b0;
    font-size: 1.5vmax;
  }
}
