.time-table-container {
  height: 100%;
  padding: 25px;
}

.table {
  th,
  td {
    padding: 10px;
    text-align: center;
    border-radius: 4px;
  }
}

.theory-hrs {
  background-color: #ccccff;
}

.lab-hrs {
  background-color: #99ccff;
}

.classes {
  // background-color: #ffffcc;
  color: white;
  background-color: #251d13e7;
  // border: 1px solid #d4d62f;
  // &:hover {
  //   background-color: #f6b34e;
  // }
}

.classes-green {
  background-color: #38e83898;
  color: white;
  // border: 1px solid #38e838;
  // background-color: #ccffcc;
  // border: 1px solid #80ff52;
}

.grey-bg {
  background-color: #c0c0c0;
}
