.save-tt-form-container {
  color: white;
  fieldset {
    textarea {
      resize: none;
      border: none;
      width: 100%;
      margin-top: 0;
      background-color: transparent;
      color: white;
      padding: 0.3rem;
      border-radius: 5px;
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .save-tt-submit {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    button {
      color: white;
      padding: 7px;
      border: none;
      background-color: rgb(63, 151, 58);
      font-size: 1rem;
      border-radius: 5px;
    }
  }
}
