.save-timetable {
  background-color: rgb(63, 151, 58);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: monospace;
}
