.time-table-container {
  padding-top: 50px;
  padding: 5px;

  .save-timetable-conatiner {
    padding-top: 15px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}

.table {
  th,
  td {
    padding: 10px;
    text-align: center;
    border-radius: 4px;
  }
}

.theory-hrs {
  background-color: #ccccff;
}

.lab-hrs {
  background-color: #99ccff;
}

.classes {
  color: white;
  background-color: #131c25e7;
}

.classes-green {
  background-color: #38e83898;
  color: white;
}

.grey-bg {
  background-color: #c0c0c0;
}
