.search-box {
  -webkit-appearance: none;
  border: 1px double;
  border-color: rgb(229, 229, 229);
  border-radius: 4px;
  font-family: monospace;
  outline: none;
  padding: 10px;
  width: 25%;
  line-height: 30px;
}
