.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(15, 17, 22);
  color: white;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid;
  border-color: rgb(47, 51, 57);
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  &:hover {
    transform: scale(1.05);
  }
  img {
    width: 100%;
  }
  span {
    font-size: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    .spacer {
      width: 10%;
    }
    .tag {
      background: #cccccc;
      border-radius: 50px;
      font-size: 13px;
      font-weight: bold;
      padding: 2px 10px;
      text-transform: uppercase;
      cursor: pointer;
    }
    .tag-red {
      background-color: #ff00003a;
      color: #ff0000;
      border: 1px solid #ff0000;
    }
    .tag-orange {
      background-color: #ffd90048;
      color: rgb(255, 166, 0);
      border: 1px solid rgb(255, 166, 0);
    }
    .tag-grey {
      background-color: rgba(112, 128, 144, 0.281);
      color: slategrey;
      border: 1px solid slategrey;
    }
    .tag-blue {
      background-color: rgba(64, 226, 255, 0.411);
      color: rgb(64, 226, 255);
      border: 1px solid rgb(64, 226, 255);
    }
    .tag-green {
      background-color: #38e83843;
      color: rgb(0, 204, 0);
      border: 1px solid rgb(0, 204, 0);
    }
  }
  .card-cc-container {
    padding: 15px;
    button {
      font-family: monospace;
      background-color: orange;
      color: white;
      font-weight: bold;
      border: none;
      padding: 5px 10px 5px 10px;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        animation: shake 1s;
      }
    }
    small {
      color: #545d7a;
      padding: 15px;
    }
  }
}
