.modal-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    color: white;
  }
  button {
    border: none;
    padding: 5px;
    background-color: transparent;
    height: fit-content;
  }
  i {
    color: orange;
  }
  .logo {
    color: white;
  }
}
