.button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
  }
}
