.logo-container {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  .logo {
    height: 50px;
    color: orange;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  width: 100%;

  .sidebar {
    background-color: rgb(15, 17, 22);
    width: 17%;
  }

  .content {
    width: 83%;
    overflow-y: scroll;
  }
}

.nav-links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  margin: 0;
}

.divider {
  width: 85%;
  margin-top: 20px;
}
