.logo-container {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 10% 0%;

  span {
    font-size: 1.8vmax;
    font-weight: bold;
    padding: 2%;
  }

  .logo {
    height: 4vmax;
    color: orange;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  width: 100%;

  .sidebar {
    background-color: rgb(15, 17, 22);
    width: 17vw;
    height: 100%;
  }

  .content {
    width: 82vw;
    overflow-y: scroll;
  }
}

.nav-links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2% 5%;
  margin: 0;
}
