.logo-container {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  .logo {
    height: 50px;
    color: orange;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;

  .sidebar {
    background-color: #1c212d;
    width: 17%;
  }
}

.nav-links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  margin: 0;

  .nav-links {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 1.1rem;

    .icon {
      padding-right: 20px;
    }
  }
}

.divider {
  width: 85%;
  margin-top: 20px;
}
