.custom-carousel-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .timetable-nav-buttons {
    background-color: rgba(128, 128, 128, 0.079);
    color: white;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: rgba(128, 128, 128, 0.473);
    }
  }
}

.timetable-counter-container {
  font-size: 1.2vmax;
  font-weight: bold;
  padding: 1%;
  display: flex;
  justify-content: center;
  color: white;
}

.save-timetable-conatiner {
  display: flex;
  justify-content: center;
  padding: 2%;
}
