body {
  margin: 0;
  background-color: rgb(3, 4, 8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 0.3rem;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #363636;
    border-radius: 16px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
}

* {
  box-sizing: border-box;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

a {
  text-decoration: none;
  color: white;
}

#root {
  --toastify-color-progress-success: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-info: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
}
