.delete-timetable {
  background-color: rgba(222, 35, 35, 0.855);
  border: none;
  color: white;
  padding: 1% 2%;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 1vmax;
  font-weight: bold;
  cursor: pointer;
}
